@{
    ViewBag.Title = "O aplikaciji";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>Aplikacija Cinema omogućava online kupovinu karata za posjetu kina u vašem okruženju. Namijenjena je svim osobama koje vole zabavu, opuštanje te žele na što lakši i efikasniji način naći sadržaj koji im se dopada. Omogućena je jednostavna pretraga najaktuelnijih naslova iz svijeta filma.Zaboravite na duge redove, neraspoložene radnike i pridružite nam se. Uživajte u petoj vrsti umjetnosti kao što uživamo i mi!</p>
