@{
    ViewBag.Title = "Kontakt informacije!";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    <strong>Samira Mamela:</strong> <a href="mailto:smamela2@etf.unsa.ba">smamela2@etf.unsa.ba</a><br />
    <strong>Edina Kovač:</strong> <a href="mailto:ekovac2@etf.unsa.ba">ekovac2@etf.unsa.ba</a><br />
    <strong>Pavao Zornija:</strong> <a href="mailto:pzornija1@etf.unsa.ba">pzornija1@etf.unsa.ba</a>
</address>