@{
    ViewBag.Title = "Home Page";
}

<body style="background-image:url('Images/nova.jpg')">
       
            <h1><font color=#FFFFFF>Cinema</font></h1>
            <p class="lead">Zaboravite na duge redove, neraspoložene radnike i pridružite nam se!</p>
        
</body>